html {
    background-color: #e3e3e3;
}

body {

    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: rgb(51, 51, 51);
    border-top: 10px solid rgb(51, 51, 51);
}

img[alt] {
    width: 40%;
    height: 40%;
}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
    line-height: 1.4em;
}

#blog {
    border-top: 1px dotted #ccc;
}

.blog-post {
    border-bottom: 1px dotted #ccc;
}

form {
    margin-top: 20px;
}

a:link {
    color:  rgb(51, 51, 51);
}

a:visited {
   color: rgb(109, 109, 109);
}

a:hover {
    color: rgb(184, 120, 214); 
  }